<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Referrals app</h1>
    <p>
      Your Friend invited you to join the application, click the below link for signup.<br>
    </p>
    <p>

    <p><%= link_to 'Sign up',  @url %></p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
